{% extends "base.html" %}

{% block content %}
    {% if not shopping_item %}
  <h2>update items</h2>
   
  <form method="post">
    <table style="width:100%" >
      <tr>
	<td class="label">Order Date (mm/dd/yyyy)</td>
	<td class="label">Item Name</td>
	<td class="label">Selling Price(Optional)</td>
	<td class="label">Item Quantity(Optional)</td>
      </tr>
      <tr>
	<td> <input type="item_text" name="order_time" value="{{order_time}}"> </td>
	<td> <input type="item_text" name="item_name" value="{{item_name}}"> </td>
	<td> <input type="item_text" name="selling_price" value="{{selling_price}}"> </td>
	<td> <input type="item_text" name="item_quantity" value="{{item_quantity}}"> </td>
      </tr>
      <tr>
	<td class="error">{{error_order_time}}</td>
	<td class="error">{{error_item_name}}</td>
	<td class="error">{{error_selling_price}}</td>
	<td class="error">{{error_item_quantity}}</td>
      </tr>
      <tr>
	<td class="label">Price in USD</td>
	<td class="label">Price in RMB(Optional)</td>
	<td class="label">Forex(Optional)</td>
	<td class="label">Shipped?</td>
      </tr>
	<td> <input type="item_text" name="price_usd" value="{{price_usd}}"> </td>
	<td> <input type="item_text" name="price_rmb" value="{{price_rmb}}"> </td>
	<td> <input type="item_text" name="forex" value="{{forex}}"> </td>
	<td>
	  <select name="shipped">
	    <option value="No">No</option>
	    <option value="Yes">Yes</option>
	  </select>	
	</td>
      </tr>
      <tr>
	<td class="error">{{error_price_usd}}</td>
	<td class="error">{{error_price_rmb}}</td>
	<td class="error">{{error_forex}}</td>
	<td class="error">{{error_shipped}}</td>
      </tr>
      </table>
      <table>
	<tr>
	  <td class="label">Link(Optional)</td>
	  <td><div class="label">Mark(Optional)</div></td>
	</tr>
      <tr>
	<td> <input type="item_text" name="link" value="{{link}}"> </td>
	<td> <textarea  id="record" name="mark" value="{{mark}}"></textarea></td>
      </tr>
      <tr>
	<td class="error">{{error_link}}</td>
	<td class="error">{{error_mark}}</td>
      </tr>
    </table>
    <input type="submit" value="submit">
    {% else %}
      {{ shopping_item.render() | safe}}	
    {% endif %}

{% endblock %}
